<html>

<head>
    <style>
        .first_heading {
            height: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .first_heading p {
            display: inline;
            padding-left: 20px;
        }

        .second_heading {
            height: 50px;
            color: white;
            background-color: #0f63e1;
            padding-left: 50px;
        }

        #pL1 {
            height: 7px;
            display: inline-block;
            padding-left: 10px;
        }

        #Group1 {
            display: inline;
            padding-left: 20px;
            margin-left: 45%;
        }

        .second_heading #Group1 p {
            display: inline;
            margin-right: 15px;
        }

        body {
            width: 75%;
            background-color: #ffffff;
            border: 3px solid #0f63e1;
            margin-left: 15%;
        }

        #blog_heading {
            padding-left: 40px;
            margin-top: 30px;
        }

        .card_profile {
            display: inline-block;
        }

        .card_writer {
            display: inline-block;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .card_profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .card_profile img {
            border-radius: 50%;
        }

        .card_writer p {
            margin: 0px;

        }

        .card_writer hr {
            margin: 2px 0px 2px 0px;
        }

        #blog_content {
            padding-left: 100px;
            padding-right: 100px;
        }

        #blog_description {
            padding-left: 30px;
            padding-right: 30px;
        }

        .card_author {
            margin-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            height: 50px;
            /* position: absolute; */
        }

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .second_heading a {
            color: white;
        }
    </style>
</head>

<body>
    <div class="first_heading">
        <p>+977 9860289450</p>
        <p>internships@plmultimediaservice.com</p>
        <p>Chitwan, Nepal</p>
    </div>
    <div class="second_heading">
        <div id="pL1">
            <p>PL multimedia</p>
        </div>
        <div id="Group1">
            <p><a href="/">Home</a></p>
            <p>Service</p>
            <p>Portfolio</p>
            <p>About Us</p>
            <p>Blog</p>
            <p>Contact Us</p>
        </div>
    </div>
    </div>
    <div id="blog_content">
        <div id="blog_heading">
            <!-- <h2>Advantages of proper management of a remote team</h2> -->
            <h2>
                <%= heading %>
            </h2>
        </div>
        <div class="card_author">
            <div class="card_profile">
                <img src=<%=writerImage %>>
            </div>
            <div class="card_writer">
                <p>
                    <%=writerName %> | <%= writtenDate %>
                </p>
            </div>
        </div>
        <div>
            <img src="<%=image %>">
        </div>
        <div id="blog_description">
            <p>
                <%= body %>
            </p>
        </div>
    </div>
</body>

</html>